php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on

RewriteEngine on

RewriteBase /
DirectoryIndex index.php
RewriteRule ^site/(.+)/(.+)$ /index.php?site=$1
RewriteRule ^view/(.+)/(.+)/(.+)$ /index.php?site=$1&add=$2
RewriteRule ^client/(.+)/$ /index.php?site=21&client_id=$1
RewriteRule ^costing/(.+)/(.+)/$ /index.php?site=600&url=$1&did=$2
RewriteRule ^project/(.+)/(.+)/$ /index.php?site=$1&plist=$2
RewriteRule ^galery/(.+)/(.+)/$ /index.php?site=$1&pid=$2
RewriteRule ^order/(.+)/$ /index.php?site=13&oid=$1
RewriteRule ^detail/(.+)/$ /index.php?site=14&did=$1
RewriteRule ^program/(.+)/$ /index.php?site=16&pid=$1
RewriteRule ^wz/create/(.+)/$ /index.php?site=32&order_id=$1
RewriteRule ^wz/(.+)/$ /engine/wz.php?wz_id=$1&action=view
RewriteRule ^material/(.+)/$ /index.php?site=40&sheet_code=$1

RewriteRule ^plateFrame/(.+)/multi/(.+)/$ /index.php?site=20&f=$1&multi=1&material=$2
RewriteRule ^plateFrame/(.+)/$ /index.php?site=20&f=$1

RewriteRule ^multipart/plate/csv/([^-]+)/$ /engine/costing/plateMultiPart/multiPartCSV.php?dir_id=$1
RewriteRule ^multipart/plate/([^-]+)/$ /index.php?site=29&action=viewPlateCostingCard&directory_id=$1
RewriteRule ^plateMulti/program/delete/([^-]+)/([^-]+)/$ /index.php?site=30&action=deleteProgram&directory_id=$1&program_id=$2
RewriteRule ^plateMulti/program/([^-]+)/([^-]+)/$ /index.php?site=30&action=viewProgramCard&directory_id=$1&program_id=$2
RewriteRule ^plateMulti/detail/([^-]+)/([^-]+)/$ /index.php?site=30&action=viewDetailCard&directory_id=$1&detail_id=$2
RewriteRule ^plateMulti/([^-]+)/([^-]+)/$ /index.php?site=30&action=viewMainCard&directory_id=$1&program=$2 [L,NC,NS]
RewriteRule ^plateMulti_r/([^-]+)/$ /index.php?site=30&action=viewMainCard&directory_id=$1&r=1 [L,NC,NS]
RewriteRule ^plateMulti/([^-]+)/$ /index.php?site=30&action=viewMainCard&directory_id=$1 [L,NC,NS]